@import '../../node_modules/foundation-sites/scss/foundation';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import 'font-awesome-4.7.0/scss/font-awesome';
@import 'slick.scss';

@include foundation-grid;
@include foundation-visibility-classes;

// defining colour vars
$blue: #1B2A41;
$bright-blue: #99E1D9;
$white: #FFF8F0;
$primary-font: 'Josefin Sans', sans-serif;

//transition vars
@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

@mixin glow($transition) {
    -webkit-box-shadow: $transition;
    box-shadow: $transition;
}

.inverse-color{
    background-color: $blue;
    color: $white;
}
//generic body style
html{
    background-color: $white;
    color: $blue;
    font-family: $primary-font;
    font-size: 20px;
    font-weight: 300;

    @media screen and (max-width: 1024px) {
        font-size: 18px;
    }
    @media screen and (max-width: 640px) {
        font-size: 16px;
    }

    box-sizing: border-box;
}

body{
    margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.section{
    padding: 5rem 0;
    text-align: center;
}

.cta-btn{
    background-color: $bright-blue;
    color: $blue;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.1rem 4rem 0.9rem;
    font-size: 1.5rem;
    display: inline-block;
    letter-spacing: 0.1rem;
    font-weight: 600;
    margin-top: 1.5rem;
    @include transition(0.2s ease-in-out);
    &:hover{
        @include glow(0px 0px 25px 1px $bright-blue);
        @include transition(0.2s ease-in-out);
    }
}

//navigation style
.nav{
    padding: 1rem 0;
    ul{
        float: right;
        margin-right: 3rem;
        li{
            list-style: none;
            float: left;
        }
    }
    a{
        color: $blue;
        text-decoration: none;
        font-size: 1.3rem;
        letter-spacing: 2px;
        padding: 0.3rem 0.5rem;
        margin-left: 2rem;
        border-bottom: 2px solid $white;
        @include transition(0.2s ease-in-out);
        &:hover{
            text-decoration: none;
            border-bottom: 2px solid $bright-blue;
            @include transition(0.2s ease-in-out);
        }
    }
}

//header style
.header{
    text-align: center;
    padding: 7rem 0;
    h1{
        font-size: 5rem;
        letter-spacing: 0.4rem;
        margin-bottom: 1.2rem;
        font-weight: 300;
    }
}

//skills style
.skills{
    h2{
        margin: 1.8rem 0;
    }
    ul{
        li{
            margin: 0.8rem 0;
            text-align: left;
        }
    }
    @media screen and (max-width: 1024px) {
        ul{
            width: 55%;
            margin: auto;
        }
        .large-4:nth-child(2),.large-4:nth-child(3){
            margin-top: 3rem;
        }
    }
    @media screen and (max-width: 640px) {
        ul{
            width: 70%;
        }
    }
}

//game demo style

//photo style
.gallery{
    a{
        display: inline-block;
        text-align: center;
    }
    .arrow-wrap{
        position:absolute;
        height:320px;
        top: 0;
        z-index: 99;
        @include transition(0.2s ease-in-out);
        &.arrow-wrap-left{
            left: 0;
        }
        &.arrow-wrap-right{
            right: 0;
        }
        &:hover{
            cursor: pointer;
            background: rgba(27,42,65, 0.6);
            @include transition(0.2s ease-in-out);
        }
        i{
            position:relative;
            top:40%;
            z-index:999;
        }
    }
}

//footer style
.footer{
    text-align: left;
    a{
        color: $white;
    }
    li{
        margin-top: 0.5rem;
    }
}